*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Google Fonts*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*Navigation Bar*/
nav {
	border-top:  1px solid gray;
	padding-left: 7%;
	padding-right: 7%;
	position: sticky;
	top: 1px;
	background-color: white;	
}

nav .nav-logo, nav .nav  {
	margin:  1rem;
	display: inline;
}

nav .right-nav {
	float: right;
	padding-left: 5%;
	padding-right: 5%;
	font-weight: bold;
}

nav .tuitt-button {
	background-color: #c2195b;
	color: white ;
	font-size: 0.8rem;
	font-weight: bold;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	text-align: center;
	border: 0;
	border-radius: 20px;
}

/*Landing Page*/
#bg-image {
	margin: 30px 60px;
    min-height: 50vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: cover;
	background-position: center;
}

section .front-bg {
    min-height: 50vh;
	background-color: rgba(0,0,0,0.5);
}

section .container {

	text-align: right;
	color: white ;
	margin-left: 50%;
	margin-right: 10%;
}

.title {
	font-family: 'zilla slab';
	font-size: 2.5rem;
}

.subtitle {
	font-size: 1rem;
	font-weight: normal;
	margin-left: 40%;
}
.apply-button {

	background-color: #c2195b;
	color: white ;
	font-size: 0.75rem;
	font-weight: bold;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	border: 0;
	border-radius: 20px;
}

.title-2 {
    
    font-family: 'zilla slab';
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}

.intro {
	text-align: left;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2.5rem;
	padding-bottom: 5rem;
	font-size: 1rem;
}
/*Landing Page End*/

.pre-footer {
	background-color: #f7fbfb;
	padding-top: 2.5%;
	padding-bottom: 10%;
	text-align: center;
}

.prefooter-description {
	padding-left: 15%;
	padding-right: 15%;
	font-size: 1rem;
}

.book-button {
	background-color: #336589;
	color: white ;
	font-size: 0.75rem;
	font-weight: bold;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	border: 0;
	border-radius: 20px;
}

footer {
	text-align: center;
}
